body{background: url('backimg.svg');
    }

#back{
    top: 200px;
    width: 95%;
    position: relative;
    background-color: white;
    height: 450px;
    

}
#announce1{
    box-shadow: 10px 10px 5px grey;
    border-style: hidden;
    background-color:  rgb(8, 116, 98);
    float: left;
    margin-top: 200px;
    color: white;
    margin-right: 100px;
    height: 250px;
    width: 550px;

}
#announce2{
    box-shadow: 10px 10px 5px grey;
      float: left;
      border-style: hidden;
      background-color:  rgb(18, 4, 37);
      color: white;
      margin-right: 800px;
      height: 300px;
      width: 550px;
      margin-right: 40px;

}
#heading{
    text-shadow: 2px 2px rgb(148, 22, 22) ;
        border-style: hidden;
         float: left;
         margin-top: 50px;
         font-size: 50px;
         margin-left: 100px;
         border-radius: 10px;
      
}
.siz{
    font-size: 20px;
   
}