#head{
    background-image: url(backimg.svg);
    border-style: hidden;
    height: 300px;

}
#ann{
    font-size: 20px;
    color: rgb(228, 224, 22);
    border-style: hidden;
    background-color: rgb(9, 9, 128);
    float: right;
    margin-top: 150px;
    margin-right: 10px;
    height: 300px;
    width: 600px;
    box-shadow: 10px 10px gray;
}
#bott{
    background-color: rgb(230, 236, 225);
    border-style: hidden;
    height: 340px;
}
#ann2{
    font-size: 20px;
    color: rgb(22, 20, 22);
    box-shadow: 10px 10px gray;
    border-style: hidden;
    background-color: rgb(13, 143, 148);
    float: left;
    width: 700px;
    height: 324px;
}
#let{
    font-family: 'Knewave', cursive;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    float: right;
    margin-top: 50px;
    font-size: 50px;
    margin-right: 65px;
}
.siz{
    font-size: 25px;
}